.element__like {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 1% 8%;
}

.element__like:hover {
  opacity: 50%;
}
