.elements {
  margin: 51px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 881px){
  .elements {
    justify-content: space-around;
    margin-top: 25px;
  }
}
