.popup__submit {
  content: '';
  width: 358px;
  height: 50px;
  margin: 20px auto 0;
  background-color: #000;
  border-radius: 2px;
  text-align:center;
  vertical-align:text-bottom;
  color: #fff;
}
