.popup__submit {
  content: '';
  width: 358px;
  height: 50px;
  margin: 20px auto 0;
  background-color: #000;
  border-radius: 2px;
  text-align:center;
  vertical-align:text-bottom;
  color: #fff;
  font-size: 18px;
}

@media screen and (max-width: 587px){
  .popup__submit {
    width: 238px;
    margin: 15px auto 0;
    font-size: 14px;
  }
}
